{{{chatListLink}}}
{{#if avatar}}
<img class="Chat-Picture Picture Picture_for_header" src="{{avatar}}" alt="{{ title }}">
{{/if}}
{{#if title}}
<div class="MessageArea-Info">
  <h2 class="Chat-Title">{{ title }}</h2>
  <time class="LastSeen">Был 30 минут заглушка</time>
</div>
{{/if}}
{{{messageAreaMenu}}}
