<div class="Modal-Dialog" data-form-name="{{formName}}">
  <p class="Modal-Head">{{header}}</p>
  <p class="Modal-Message">{{message}}</p>
  {{{modalForm}}}
  {{#each buttons}}
  {{{this}}}
  {{/each}}
</div>
