<div class="Modal-Dialog" data-id="{{modalID}}">
  {{#if header}}
  <p class="Modal-Head">{{header}}</p>
  {{/if}}
  {{#if message}}
  <p class="Modal-Message">{{message}}</p>
  {{/if}}
  {{{modalForm}}}
  {{#each buttons}}
  {{{this}}}
  {{/each}}
</div>
